* {
    box-sizing: border-box;
}

 body {
    width: 1440px;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
} 

/* body::after {
    content: '';

    position: absolute;
    inset: -5px 0px 0px 42px;
    background-image: url('../img/макет.svg');
    width: 1440px;
    height: 10472px;
    opacity: 0.2;
}   */

.content {
    margin: 27px 60px 0 60px;
}

.section-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.title {
    font-family: "BrioniPro-Bold";
    text-align: right;
    margin-left: -226px;
    font-size: 96px;
}

.bigbook img{
    width: 1053px;
    height: 683px;
}

.section-2 {
    display: flex;
    justify-content: center;
    margin-top: 185px;
}

.openbook {
    background-image: url('../img/openbook.svg');
    width: 1257px;
    height: 966px;
    font-family: "BrioniPro-Medium";
    display: flex;
    padding: 88px 82px 139px 110px;
    justify-content: space-between; 
}

.firstpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstpage p {
    font-size: 32px;
	transform: perspective(400px) rotateY(5deg) rotateZ(2.5deg);
}

.firstpage img {
    width: 442px;
    height: 257px;
    margin-left: 30px;    
}

.secondpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 80px;  */
}

.secondpage p {
    font-size: 32px;
    transform: perspective(400px) rotateY(-6deg) rotateZ(-2deg) translate(-25px,0);
}

.secondpage img {
    width: 430px;
    height: 114px;
    margin-top: 125px;
}

.section-3 {
    margin: 123px -60px 0px -60px;
}

.bookauthors {
    margin-left: 60px;
}

h1 {
    font-family: "BrioniPro-Bold";
    font-size: 96px;
}

.first_columnauthors p {
    font-family: "BrioniPro-Light";
    font-size: 28px;
    margin-top: 11px;
}

.second_columnauthors p {
    font-family: "BrioniPro-Light";
    font-size: 28px;
    margin-top: 14px;
    margin-left: 290px;
}

.authorsimg{
    /*transform: translate(0px, 303px);*/
    margin-top: -303px;
}

.section-4 {
    margin-top: 125px;
}

.section-4 h1 {
    margin-bottom: -40px;
    text-align: right;
}

.section-4 img {
    margin-top: -210px;
    margin-left: -60px;
}

.allglyphs {
    display: flex;
    flex-direction: row;
    position: relative;
}

.glbook {
    background: url(../img/titlebook.svg) no-repeat;
    width: 227px;
    height: 598px;
    margin-left: -68px;
}

.glbook:first-child {
    margin-left: 0px;
}

.glbook:last-child {
    margin-left: 0px;
    rotate: -20deg;
    margin-top: -13px; 
}

.glyphs {
    font-family: "BrioniPro-Regular";
    font-size: 128px;
    margin-top: 177px;
    margin-left: 9px;
}

.description {
    margin-top: 120px;
    font-family: "BrioniPro-Regular";
    font-size: 22px;
    margin-left: 9px;
}

.section-5 {
    display: flex;
}

.rolls {
    display: flex;
    flex-direction: column;
}

.firstroll, .secondroll {
    background: url(../img/roll.svg) no-repeat;
    width: 520px;
    height: 121px;
    font-family: "BrioniPro-Light";
    font-size: 52px;
}

.firstroll {
    rotate: -28deg;
    margin-top: 316px;
    margin-left: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstroll p {
    margin-left: 31px;
    margin-bottom: 35px;
}

.secondroll {
    margin-top: 272px;
    rotate: 10deg;
    margin-left: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondroll p {
    margin-left: 27px;
    margin-bottom: 28px;
    rotate: 5deg;
}

.openedroll {
    background: url(../img/openedscroll.svg) no-repeat;
    width: 655px;
    height: 826px;
    margin-left: 55px;
    margin-top: 136px;
    font-family: "BrioniPro-Light";
}

.openrollp {
    font-size: 28px;
    margin-top: 130px;
    margin-left: 51px;
    rotate: -3deg;
}

.rollglfirst, .rollglsecond {
    font-size: 46px;
}

.rollglfirst {
    margin-top: 82px;
    rotate: -2deg;
    margin-left: 64px;
}

.rollglsecond {
    margin-top: 93px;
    rotate: -2deg;
    margin-left: 66px;
}






.section-7 {
    display: flex;
    justify-content: center;
}

.booksevensection {
    background: url(../img/book7section.svg) no-repeat;
    width: 874px;
    height: 1008px;
}

.abc {
    font-family: "BrioniPro-Medium";
    font-size: 160px;
    transform: perspective(200px) rotateY(-1deg) rotateZ(8deg) rotateX(-4deg);
    margin-top: 181px;
    margin-left: 45px;
}

.languages {
    font-family: "BrioniPro-Light";
    font-size: 87px;
    transform: perspective(360px) rotateY(-4deg) rotateZ(8.5deg) rotateX(-7deg);
    margin-top: 70px;
    margin-left: 37px;
}

.languages p {
    margin-bottom: 26px;
}

#Latin {
    margin-left: 10px;
}

#Greek {
    margin-left: 15px;
}

.section-8 {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 222px;
}

.openedbook-8 {
    background: url(../img/openedbook8section.svg) no-repeat;
    width: 1418px;
    height: 929px;
}

.heading {
    font-family: "BrioniPro-Medium";
    font-size: 64px;
}

.cyrillicletters {
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    font-family: "BrioniPro-Light";
    font-size: 47px;
    justify-content: space-evenly;
    margin-left: 76px;
}





.section-9 {
    display: flex;
    justify-content: center;
    margin-top: 163px;
}

.closed {
    background: url(../img/closed9book.svg) no-repeat;
    width: 681px;
    height: 822px;
    margin-top: 157px;
}

.closedcontent {
    margin-left: 21px;
}

#book {
    font-family: "BrioniPro-Medium";
    font-size: 32px;
    margin-top: 21px;
}

.closedbookdescription {
    font-family: "BrioniPro-Regular";
    font-size: 20px;
    line-height: 130%;
    margin-top: 17px;
}

.closedbookdescription:first-child {
    margin-bottom: 29px;
}

.closedcontent img {
    margin-top: 281px;
}