* {
    box-sizing: border-box;
}

/* body {
    width: 1440px;
    display: block;
    margin: 0 auto;
} */

/* body::after {
    content: '';

    position: absolute;
    inset: -5px 0px 0px 42px;
    background-image: url('../img/макет.svg');
    width: 1435px;
    height: 10472px;
    opacity: 0.2;
}  */

.content {
    margin: 27px 60px 0 60px;
}

.section-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.title {
    font-family: "BrioniPro-Bold";
    text-align: right;
    margin-left: -226px;
    font-size: 96px;
}

.bigbook img{
    width: 1053px;
    height: 683px;
}

.section-2 {
    display: flex;
    justify-content: center;
    margin-top: 185px;
}

.openbook {
    background-image: url('../img/openbook.svg');
    width: 1257px;
    height: 966px;
    font-family: "BrioniPro-Medium";
    display: flex;
    padding: 88px 82px 139px 110px;
    justify-content: space-between;
}

.firstpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstpage p {
    font-size: 32px;
    transform: rotateY(10deg);
    transform: rotateZ(4deg);
}

.firstpage img {
    width: 442px;
    height: 257px;
    margin-left: 30px;    
}

.secondpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondpage p {
    font-size: 32px;
    transform: rotateY(deg);
    transform: rotateZ(-2.5deg);
}

.secondpage img {
    width: 430px;
    height: 114px;
    margin-top: 125px;
}

.section-3 {
    margin: 123px -60px 0px -60px;
}

.bookauthors {
    background-image: url(../img/bookauthors.svg);
    background-repeat: no-repeat;
    width: 1440px;
    height: 651px;
    display: flex;
    flex-direction: column;
    /* margin-top: 123px; */

}

h1 {
    font-family: "BrioniPro-Bold";
    font-size: 96px;
}

.first_columnauthors p {
    font-family: "BrioniPro-Light";
    font-size: 28px;
}

.second_columnauthors p {
    font-family: "BrioniPro-Light";
    font-size: 28px;
}


.section-4 {
    margin-top: 125px;
}

.glyphs {
    font-family: "BrioniPro-Regular";
    font-size: 128px;
}

.description {
    font-family: "BrioniPro-Regular";
    font-size: 22px;
}